<div class="achievement">
<%if false %>
  <div id="achievement_header">Achievement <span class="glyphicon glyphicon-flag"></span></div>
<% end %>
<span class="glyphicon glyphicon-flag"></span> Optimal Solution Found
</div>