<div class="achievement">
  <%  if optimal_distance <= 0  %>
    <span class="glyphicon glyphicon-flag"></span> Optimal Solution Found
  <% else %>
    Optimal + <%= optimal_distance %>
  <% end %>
</div>
