<div class="achievement">
  <%  if optimal_distance <= 0  %>
    <span class="glyphicon glyphicon-heart big_heart"></span> You got their LOVE!
  <% else %>
    Just <%= optimal_distance %> fewer steps for their LOVE <span class="glyphicon glyphicon-heart small_heart"></span> !
  <% end %>
</div>
