<div class="message_container">
  <div class="message">
    <div id="well_done">WELL <span></span> DONE</div>
    <div id="completed_in">YOU HAVE COMPLETED IN <span id="path_length"><%= @history.length - 1 %></span> MOVES</div>
    
    <%= render 'history_all' %>
    <%= link_to "Play Again?", reset_level_path(@level) , class:"btn btn_custom" %>

  </div>
</div>
