<div class="curr_word_container">
  <div class="curr_word text-center">
    <%= render 'flash_notice' if flash[:notice] %>
    
    <% @word.word.upcase.split("").each_with_index do |letter, index| %>
      <%= render 'curr_word_choice_letter', letter: letter, index: index %>
    <% end %>

    <div class="below_curr_word">
      <%= render 'word_definition' %>

      <% if @choices.empty? %>
        <div class="no_moves_left">NO MORE CHOICES</div>
      <% end %>
    </div>
    
  </div>

</div>