<div class="wrap">
  <div class="glitch" data-text="NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS" style="margin-left: -14vh; padding-left: 10px;">NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS</div>
  <div class="glitch" data-text="NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS" style="margin-left: -13vh; padding-right: 20px;">NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS</div>
  <div class="glitch" data-text="NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS" style="margin-left: -16vh; padding-left: 30px;">NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS</div>
  <div class="glitch" data-text="NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS" style="margin-left: -15vh; padding-right: 10px;">NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS</div>
  <div class="glitch" data-text="NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS" style="margin-left: -13vh; padding-right: 30px;">NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS</div>
  <div class="glitch" data-text="NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS" style="margin-left: -14vh; padding-right: 20px;">NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS</div>
  <div class="glitch" data-text="NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS" style="margin-left: -13vh; padding-left: 15px;">NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS</div>
  <div class="glitch" data-text="NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS" style="margin-left: -16vh; padding-left: 10px;">NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS</div>
  <div class="glitch" data-text="NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS" style="margin-left: -17vh; padding-right: 5px;">NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS</div>
  <div class="glitch" data-text="NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS" style="margin-left: -15vh; padding-right: 10px;">NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS</div>
  <div class="glitch" data-text="NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS" style="margin-left: -13vh; padding-left: 20px;">NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS</div>
  <div class="glitch" data-text="NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS" style="margin-left: -16vh; padding-left: 10px;">NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS</div>

  <div class="refresh_btn glitch" data-text="reWORD">re LOAD</div>

  <div class="glitch" data-text="NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS" style="margin-left: -16vh; padding-right: 5px;">NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS</div>
  <div class="glitch" data-text="NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS" style="margin-left: -15vh; padding-left: 10px;">NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS</div>
  <div class="glitch" data-text="NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS" style="margin-left: -14vh; padding-right: 15px;">NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS</div>
  <div class="glitch" data-text="NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS" style="margin-left: -15vh; padding-right: 5px;">NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS</div>
  <div class="glitch" data-text="NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS" style="margin-left: -16vh; padding-left: 30px;">NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS</div>
  <div class="glitch" data-text="NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS" style="margin-left: -13vh; padding-right: 20px;">NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS</div>
  <div class="glitch" data-text="NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS" style="margin-left: -15vh; padding-left: 15px;">NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS</div>
  <div class="glitch" data-text="NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS" style="margin-left: -14vh; padding-right: 10px;">NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS</div>
  <div class="glitch" data-text="NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS" style="margin-left: -17vh; padding-right: 15px;">NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS</div>
  <div class="glitch" data-text="NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS" style="margin-left: -16vh; padding-left: 15px;">NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS</div>
  <div class="glitch" data-text="NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS" style="margin-left: -13vh; padding-right: 20px;">NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS</div>
  <div class="glitch" data-text="NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS" style="margin-left: -15vh; padding-left: 10px;">NO INTERNET ACCESS NO INTERNET ACCESS NO INTERNET ACCESS</div>
</div>
