<div class="wrap">
  <div class="refresh_btn">REL<div class='title_orb'><div class="orb_eyes title_orb_eyes"><div class="orb_eye orb_eye_left"></div><div class="orb_eye orb_eye_right"></div></div></div><div id="title_empty_space"></div>AD</div>
  <div id="no_internet_message">NO INTERNET ACCESS</div>
</div>
