<%= render 'theme_skin', level: @level %>
<div class="starting_page">
  <div class="game_title_cont">
    <div class="game_title">REWORD</div>
  </div>

  <div class="play_btn">
    <%= link_to "Levels", levels_path, remote: true, id: "play_link" %><br>

    <% if @completed_levels.size < 20 %>
      <span class="glyphicon glyphicon-lock"></span>
    <% end %>

    <%= link_to "Zen Mode", loading_level_path('zen'), remote: true, id: "play_link", class: "#{'disabled' if @completed_levels.max.to_i < 20}" %><br><br>
    <span class="options">options</span>
  </div>


  <div class="options_overlay">
    <%= render 'options_container' %>
    <span class="back_btn">back</span>
  </div>
</div>
