<div class="limit_count">
  <% (@level.path.length - 1).times do %>
    <div class="limit_dot glyphicon glyphicon-triangle-bottom"></div>
  <% end %>

  <div class="limit_dot glyphicon glyphicon-flag"></div>

  <% (@level.limit - @level.path.length ).times do %>
    <div class="limit_dot glyphicon glyphicon-triangle-bottom"></div>
  <% end %>
  

</div>

<style>
.limit_count .limit_dot:nth-child(<%= @history.length %>) {
  color: var(--main-background-color);
}
</style>