<div class="limit_count">
  <% (@level.path.length - 1).times do %>
    <div class="limit_dot glyphicon glyphicon-triangle-bottom"></div>
  <% end %>

  <div class="limit_dot glyphicon glyphicon-heart"></div>

  <% (@limit - @level.path.length).times do %>
    <div class="limit_dot">&middot;</div>
  <% end %>
</div>
