<div class="curr_word text-center loading">
  <span class="small">Total solved:</span> <%= user.total_completed_zen_levels %>
  <br>
  <span class="small">Current Streak:</span> <%= user.continuous_zen_levels %>
</div>
