<div class="options_container">
  <div class="default_content">
    <div class="music_row">
      Music
      <%= render 'music_btn' %>
    </div>
    <div class="credits_btn">Credits</div>
    <div class="send_email">Support</div>
  </div>

  <div class="credits_content">
    <h5>Game Design & Programming</h5>
    Dion Chan<br><br>
    <h5>Music</h5>
    Peritune - Sparkle

    <div class="soundcloud_links">
      <%= link_to "https://soundcloud.com/sei_peridot/sparkle" do %>
        <% image_tag "https://spadgos.github.io/sfjs-next-soundcloud/cloud.png", class:"soundcloud_logo", id:"soundcloud_link" %>
      <% end %>
    </div>
  </div>
</div>
