<div id="rate_dialog_overlay" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div id="rate_dialog_container">
          <div class="title">Rate the app!</div>
          <div class="body">

            <div id="thanks">Thank you for playing REWORD!</div>
            If you like the game, please rate us!<br>
            Your feedback is important for us!

            <div id="rate_row">
              <span id="rate_button" onclick="redirectToPlayStore(); $('#rate_dialog_overlay').modal('hide');">Rate Us</span>
              <span id="not_now" onclick="$('#rate_dialog_overlay').modal('hide');">Not now</span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
