<div class="starting_page">
  <% check_evercookie("uid") %>
  <div class="game_title">
    WORD<br> 
    LINK
  </div>

  <div class="play_btn">
    <%= link_to "PLAY", levels_path, remote: true, id: "play_link" %><br>
    <span class="options">options</span>
  </div>

  <div class="options_overlay">
    <%= render 'options_container' %>
    <span class="back_btn">back</span>
  </div>

</div>
