@import "bootstrap-sprockets";
@import "bootstrap";


html, body{
  height: 100% !important;
  width: 100% !important;
  min-width: 100% !important;
  // position: fixed;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
}

div {
  margin: 0;
  padding: 0;
}

.content {
  overflow-y: auto;
  height: 100%;
  overflow-x: hidden;
}

:root {
  --main-background-color: #8be0de;
  --main-background-text-color: white;
  --main-border-color: var(--main-background-color); //#8be0de;
  --main-text-color: black;
  --unchoosable-color: #f4f4f4;
  --choices-background-color: white;
  --highlight-color: var(--main-background-color); //#8be0de;
  --choosable-hover-color: white;
  --modal-backdrop-color: rgb(204, 204, 204);
  --box-shadow-color: #e8f8ff;
  --word-choice-color: var(--complete-highlight-color);
  --word-choice-hover-color: var(--complete-highlight-color);
  --definition-color: #aaa;
  --complete-highlight-color: rgb(50, 163, 202);
  --main-font-family:  Helvetica, sans-serif;
}

.start_word, .target_word {
  position: fixed;
  z-index: 999;
  font-size: 6vh;
  line-height: 10vh;
  height: 10vh;
  z-index: 999;
  width: 100%;
  background-color: var(--main-background-color);
  color: white;
  letter-spacing: 10px;
  left: 0;
}

.start_word {
  top: 0;
}

.target_word {
  bottom: 0;
}

.curr_word_container {
  opacity: 0;
}

.curr_word {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  .btn {
    width: 7.1vh;
    width: calc(7vh + 2px);
    line-height: 7vh;
    margin: 0px 1px;
    padding: 0;
    font-weight: bold;
    font-size: 5vh;
  }
  // .choosable {
  //   outline: 2px solid var(--main-border-color);
  // }
  .choosable:hover {
    background-color: var(--main-border-color);
    color: white;
  }
  .unchoosable {
    border: 1px solid #f4f4f4;
    cursor: default !important;
  }
  .complete {
    color: var(--main-background-color);
    font-size: 8vh;
    width: 8vh;
    line-height: 8vh;
  }
}

.curr_word_letter_container {
  position: relative;
  height: 7vh;
  width: 7vh;
  display: inline-block;
  margin: 0px 1px;
}

.reorder_btn {
  position: absolute;
  top: 0;
  left: 7.2vh;
  left: calc(7vh + 5px);
  color: var(--main-border-color);
  font-size: 5vh;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-backdrop {
  background-color: rgb(238, 238, 238);
  opacity: 0.8 !important;
}

.choices {
  .modal-dialog{
    // position: relative !important;
    // display: table !important; /* This is important */
    // overflow-y: auto !important;
    // overflow-x: auto !important;
    min-width: 10px;
    margin: 0 auto;
    width: 100vw !important;
    // margin-left: 0px !important;
  }
  .modal-content, .modal-body {
    background-color: transparent;
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,0);
    box-shadow: 0 0px 0px rgba(0,0,0,0);
    border-width: 0px;
    margin: 0 !important;
    padding: 0 !important;
  }
  .next_word {
    height: 9vh;
    line-height: 9vh;
    font-weight: bold;
    font-size: 5vh;
    // outline: 1px solid var(--main-border-color);
    border-width: 0px !important;
    margin: 10px auto;
    padding: 0px 0px;
    opacity: 1;
    background-color: white;
    // display: flex;
    // justify-content: space-evenly;
  }
  .next_word_container {
    background-color: none;
    margin: 0 auto;
    padding: 0;
    .next_word_letter {
      margin: 0;
      float: left;
      width: 7.2vh;
    }
    .highlight, a:link, a:visited, .next_word:hover {
      color: var(--highlight-color);
      text-decoration: none;
    }
  }
}

.history {
  position: fixed;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
  .prev_moves {
    margin: 5px auto;
    display: block;
    letter-spacing: 10px;
    padding-left: 10px;
    span {
      display: inline-block;
    }
  }
  .glyphicon-option-vertical {
    color: #eee;
    padding-left: 20px;
    font-size: 3vh
  }
  .last_0 {
    display: none;
  }
  .last_1 {
    font-size: 4.2vh;
    color: #ccc;
    span {
      width: 4.2vh;
    }
  }
  .last_2 {
    font-size: 4.0vh;
    color: #ddd;
    span {
      width: 4.0vh;
    }
  }
  .last_3 {
    font-size: 3.8vh;
    color: #ececec;
    span {
      width: 3.8vh;
    }
  }
  .last_4 {
    font-size: 3.6vh;
    color: #ededed;
    span {
      width: 3.6vh;
    }
  }
  .last_5 {
    font-size: 3.4vh;
    color: #eee;
    span {
      width: 3.4vh;
    }
  }
  .last_6 {
    font-size: 3.2vh;
    color: #efefef;
    span {
      width: 3.2vh;
    }
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
  }
}

.reset, .limit_count {
  position: fixed;
  top: 11vh;
}

.reset {
  right: 5px;
  font-size: 4vh;
  color: #ccc;
  a:active, a:link, a:visited {
    color: #ccc;
  }
  a:hover, .options_btn:hover {
    color: var(--main-background-color);
  }
  .options_btn {
    cursor: pointer;
  }
}

.limit_count {
  left: 10px;
  opacity: 0.8;
  .limit_dot {
    width: 4vh;
    height: 4vh;
    text-align: center;
    font-size: 4vh;
    display: block;
    color: #ccc;
    vertical-align: middle;
  }
  .glyphicon-triangle-bottom {
    font-size: 2vh;
    padding-top: 0.5vh;
    height: 3.5vh;
  }
}

.below_curr_word {
  position: fixed;
  width: 100%;
}

.definition {
  width: 100%;
  .definition_content {
    padding: 40px 5px;
    max-width: 800px;
    color: #999999;
    opacity: 0.7;
    text-align: center;
    font-size: 2vh;
    white-space: pre-wrap;
    margin: 0 auto;
  }
}

.no_moves_left {
  width: 100%;
  text-align: center;
  color: var(--main-background-color);
  font-weight: bold;
  font-size: 2.5vh;
}

.message_container {
  display: none;
  width: 100%;
  min-height: 100vh;

  text-align: center;
  background-color: var(--main-background-color);
  color: white;
  font-size: 2.5vh;
  padding-top: 3vh;
  #well_done {
    font-weight: bold;
    margin: 0px auto;
    margin-top: 5vh;
    padding-bottom: 2vh;
    font-size: 3vh;
    span {
      margin: 0 5px;
    }
  }
  #path_length {
    font-weight: bold;
    display: none;
  }
  #completed_in {
    font-size: 2.8vh;
    padding-bottom: 3vh;
    display: none;
  }
  .chapter_complete {
    font-weight: bold;
    font-size: 5vh;
  }
  .congrats {
    font-weight: bold;
    font-size: 7vh;
  }
  .congrats_message {
    font-weight: bold;
    font-size: 5vh;
    padding-bottom: 30px;
  }
}

.path_word_container {
  display: none;
  margin-top: 10px;
  position: relative;
  .path_word {
    font-weight: bold;
    font-size: 5vh;
    margin-bottom: 0px;
    span {
      width: 5vh;
      display: inline-block;
    }
  }
  .path_word:hover + .path_word_definition {
    display: block;
  }
  .path_word_definition {
    color: white;
    text-align: center;
    font-size: 2vh;
    max-width: 80vw;
    margin: 0px auto;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 1;
    p {
      margin-bottom: 0;
      padding-bottom: 5px;
    }
  }
}

.btn_custom, .btn_custom:hover, .btn_custom:active, .btn_custom:visited, .btn_custom:link {
  background-color: white;
  color: var(--main-background-color) !important;
  font-size: 3vh;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 10px 20px;
  box-shadow: 0px 0px 30px #e8f8ff;
  max-width: 250px;
  width: 80%;

}

.next_level_btn_container {
  display: none;
  margin: 0 auto;
  margin-top: 50px;
  .play_again_link {
    display: block;
    text-decoration: none;
    color: white;
    padding-bottom: 50px;
  }
}

.undo_link, .undo_link:active, .undo_link:hover, .undo_link:link, .undo_link:visited {
  text-decoration: none;
}
.achievement {
  display: none;
  text-shadow: 0px 0px 5px #e8f8ff;
  font-weight: bold;
  margin-top: 30px;
  #achievement_header {
    font-size: 3.5vh;
  }
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}
.overflow_div {
  overflow: hidden;
  max-width: 100vw;
  position: relative;
  * {
    // position: absolute;
    // left: 99999px;
    z-index: -9999;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
  }
}




.instructions {
  color: var(--main-background-color);
  position: fixed;
  padding-bottom: 100px;
  padding-bottom: calc(0);
  top: calc(50% - 10vh);
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-size: 2.5vh;
}


.level_selection_page, .starting_page {
  // background: var(--main-background-color);
  // background: -webkit-linear-gradient(left, var(--complete-highlight-color), var(--main-background-color)); /*Safari 5.1-6*/
  // background: -o-linear-gradient(right, var(--complete-highlight-color), var(--main-background-color)); /*Opera 11.1-12*/
  // background: -moz-linear-gradient(right, var(--complete-highlight-color), var(--main-background-color)); /*Fx 3.6-15*/
  background: linear-gradient(to right, var(--complete-highlight-color), var(--main-background-color)); /*Standard*/
  padding: 20px 0px;
  .back_btn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: white;
    text-decoration: none;
    opacity: 0.8;
    font-size: 2.5vh;
  }
}

.starting_page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  .options {
    cursor: pointer;
  }
  .play_btn {
    width: 100vw;
    font-size: 6vh;
    color: white;
    text-align: right;
    margin-top: 70px;
    padding-right: 20px;
    font-family: Helvetica, sans-serif;
  }
  .game_title_cont {
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    opacity: 0.5;
    font-size: 8vh;
    width: 100vw;
    text-align: center;
    background: white;
    color: var(--main-background-color);
  }
  .game_title_cont span {
    height: 8vh;
    width: 8vh;
    text-align: center;
    display: inline-block;
  }
  #play_link {
    text-decoration: none;
    color: white;
    margin-right: 20px;
  }
  .options {
    font-size: 5vh;
    opacity: 0.7;
    margin-right: 20px;
  }
  .options_overlay {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    // background: var(--main-background-color);
    // background: -webkit-linear-gradient(left, var(--complete-highlight-color), var(--main-background-color)); /*Safari 5.1-6*/
    // background: -o-linear-gradient(right, var(--complete-highlight-color), var(--main-background-color)); /*Opera 11.1-12*/
    // background: -moz-linear-gradient(right, var(--complete-highlight-color), var(--main-background-color)); /*Fx 3.6-15*/
    background: linear-gradient(to right, var(--complete-highlight-color), var(--main-background-color)); /*Standard*/
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 5vh;
    .back_btn {
      position: fixed;
      bottom: 10px;
      right: 10px;
      opacity: 0.8;
      font-size: 4vh;
    }
  }
}

.options_container {
  width: 70vw;
  div {
    margin: 25px 0px;
  }
  .music_row {
    position: relative;
    .music_btn {
      position: absolute;
      left: 15vh;
      top: 0.5vh;
      margin: 0 !important;
      margin-left: 10px !important;
    }
  }
  .default_content > div {
    cursor: pointer;
  }
}


.level_selection_page {
  width: 100vw;
  .level {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .level:last-child {
    margin-bottom: 0px;
  }
  .level_btn {
    cursor: default;
    width: 15vh;
    height: 15vh;
    line-height: 15vh;
    text-align: center;
    font-size: 10vh;
    border-radius: 50%;
    background-color: white;
    color: #eee;
    box-shadow: 0px 0px 30px #e8f8ff;
    font-family: Helvetica, sans-serif;
    margin: 0 30px;
    position: relative;
    .level_id {
      z-index: 10;
      top: 0;
    }
    .glyphicon-flag, .level_id {
      position: absolute;
      left: 0;
      font-size: 10vh;
      width: 100%;
      text-align: center;
    }
    .glyphicon-flag {
      top: 2vh;
      z-index: 5;
      opacity: 0.3;
    }
  }
  .completed_level .level_btn {
    color: var(--main-background-color);
    cursor: pointer;
  }
  .completed_level:not(.all_complete) .level_start_word, .completed_level:not(.all_complete) .level_target_word {
    display: none;
  }
  .completed_level ~ .level:not(.completed_level) .level_btn {
    cursor: pointer;
  }

  .level:not(.completed_level) ~ .level:not(.completed_level) {
    .level_start_word, .level_target_word {
      display: none;
    }
    .level_btn {
      opacity: 0.3;
      cursor: default;
    }
  }
  .level_start_word, .level_target_word {
    text-transform: uppercase;
    text-align: center;
    font-size: 2vh;
    color: white;
    letter-spacing: 2px;
  }
  .chapter {
    text-transform: uppercase;
    color: #eee;
    font-size: 7vh;
    font-family:  Helvetica, sans-serif;
    text-align: center;
    margin: 0 auto;
    position: relative;
    // display: -webkit-flex; /* Safari */

    a {
      color: white;
      text-decoration: none;
      font-size: 5vh;
      height: 7vh;
    }
    .prev_chap, .next_chap {
      position: absolute;
      .glyphicon {
        //top: 1.6vh;
      }
    }
    .prev_chap {
      top: -0.2vh;
      left: 5px;
    }
    .next_chap {
      top: -0.2vh;
      right: 5px;
    }

  }
}

#options_overlay, #skip_overlay, #hints_overlay {
  color: #aaa;
  font-size: 5vh;
  @media (min-width: 768px) {
    .modal-dialog{
      position: relative;
      display: table; /* This is important */
      overflow-y: auto;
      overflow-x: auto;
      width: auto;
      min-width: 10px;
    }
  }
  .modal-content, .modal-body {
    background-color: transparent;
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,0);
    box-shadow: 0 0px 0px rgba(0,0,0,0);
    border-width: 0px;
    padding: 0;
  }
  .options_container, #hints_container {
    position: relative;
    max-width: 350px;
    padding: 30px;
    background: white;
    color: var(--main-background-color);
    margin: 0 auto;
    font-size: 28px;
    .close_options {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 20px;
      color: #ccc;
    }
    .to_menu_btn {
      text-decoration: none;
      color: #aaa;
    }
    .skip_level_btn, .select_level_btn {
      text-decoration: none;
      color: #bbb;
    }
    .glyphicon-remove {
      -webkit-text-stroke: 4px white;
    }
    .music_btn {
      left: 80px;
      top: 3px;
    }
    .skip_btn {
      text-align: center;
      a:link {
        color: #ccc;
        text-decoration: none;
      }
    }
    #show_hints_btn {
      color: #ccc;
    }
  }
}

#hints_container {
  color: #ccc !important;
  font-size: 20px;
  max-width: 350px !important;
  // text-align: center;
  div {
    margin: 15px auto;
  }
}

#more_hints, #want_hints {
  color: white;
  margin-top: 30px;
  border-radius: 3px;
  font-size: 28px;
  box-shadow: 0px 0px 30px #e8f8ff;
  padding: 10px;
  text-align: center;
  text-weight: bold;
  .glyphicon-facetime-video {
    top: 5px;
    // float: right;
  }
}


.credits_content, .profile_content {
  font-size: 4vh;
  display: none;
  text-align: center;
  h5 {
    font-size: 5vh !important;
  }
  .music_title {
    font-size: 4vh;
    color: white;
    text-decoration: none;
  }
  .soundcloud_links {
    display: flex;
    align-items: center;
    justify-content: center;
    a, a:link, a:hover {
      color: white;
      font-size: 3vh;
      text-decoration: none;
    }
  }
  .soundcloud_logo {
    height: 100px;
    width: 150px;
    object-fit: contain;
    margin-left: 20px;
    margin-right: 15px;
  }
}

.blink {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0.2; }
}

.hint {
  animation: flash 2s linear infinite;
}

@keyframes flash {
  50% {
    color: white;
    background: var(--main-background-color);
  }
}

.start_word, .target_word {
  text-transform: uppercase;
  .letter {
    display: inline-block;
    margin: 0;
    padding: 0;
    letter-spacing: 0;
    width: 5vh;
  }
}

.target_word {
  .full_match {
    color: white;
    text-shadow: 0px 0px 20px white;
  }
  .partial_match {
    color: white;
    text-shadow: 0px 0px 5px white;
  }
  .not_match {
    color: white;
    opacity: 0.9;
  }
}

.zen_loading {
  color: #aaa;
  display: none;
  font-size: 3.5vh;
  .small {
    font-size: 2vh;
  }
}

.disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  opacity: 0.3;
}
.glyphicon-lock::before {
  font-size: 80%;
  opacity: 0.3;
}
.glyphicon-lock::after {
  content: "20";
  color: white;
  opacity: 1;
  position: absolute;
  bottom: 3px;
  left: 0.72vh;
  font-size: 50%;
}

.shield {
  z-index: 10000;
  background-color: black; //rgba(255, 255, 255, 0.6);
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;

  div {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .wrap {
    margin: 0 auto;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }

  .glitch {
    font-size: 3vh;
    font-weight: bold;
    color: white;
    position: relative;
  }

  @keyframes glitch-anim-1 {
    0% {
      clip: rect(43px, 2000px, 43px, 0);
    }
    5.88235% {
      clip: rect(44px, 2000px, 95px, 0);
    }
    11.76471% {
      clip: rect(9px, 2000px, 91px, 0);
    }
    17.64706% {
      clip: rect(54px, 2000px, 73px, 0);
    }
    23.52941% {
      clip: rect(61px, 2000px, 99px, 0);
    }
    29.41176% {
      clip: rect(113px, 2000px, 15px, 0);
    }
    35.29412% {
      clip: rect(104px, 2000px, 14px, 0);
    }
    41.17647% {
      clip: rect(36px, 2000px, 46px, 0);
    }
    47.05882% {
      clip: rect(5px, 2000px, 2px, 0);
    }
    52.94118% {
      clip: rect(75px, 2000px, 69px, 0);
    }
    58.82353% {
      clip: rect(74px, 2000px, 104px, 0);
    }
    64.70588% {
      clip: rect(54px, 2000px, 27px, 0);
    }
    70.58824% {
      clip: rect(112px, 2000px, 75px, 0);
    }
    76.47059% {
      clip: rect(78px, 2000px, 107px, 0);
    }
    82.35294% {
      clip: rect(16px, 2000px, 41px, 0);
    }
    88.23529% {
      clip: rect(105px, 2000px, 17px, 0);
    }
    94.11765% {
      clip: rect(5px, 2000px, 12px, 0);
    }
    100% {
      clip: rect(107px, 2000px, 30px, 0);
    }
  }
  @keyframes glitch-anim-2 {
    0% {
      clip: rect(71px, 2000px, 67px, 0);
    }
    5.88235% {
      clip: rect(21px, 2000px, 97px, 0);
    }
    11.76471% {
      clip: rect(103px, 2000px, 62px, 0);
    }
    17.64706% {
      clip: rect(46px, 2000px, 100px, 0);
    }
    23.52941% {
      clip: rect(76px, 2000px, 2px, 0);
    }
    29.41176% {
      clip: rect(52px, 2000px, 73px, 0);
    }
    35.29412% {
      clip: rect(25px, 2000px, 69px, 0);
    }
    41.17647% {
      clip: rect(65px, 2000px, 14px, 0);
    }
    47.05882% {
      clip: rect(16px, 2000px, 49px, 0);
    }
    52.94118% {
      clip: rect(43px, 2000px, 19px, 0);
    }
    58.82353% {
      clip: rect(27px, 2000px, 100px, 0);
    }
    64.70588% {
      clip: rect(55px, 2000px, 5px, 0);
    }
    70.58824% {
      clip: rect(16px, 2000px, 67px, 0);
    }
    76.47059% {
      clip: rect(89px, 2000px, 65px, 0);
    }
    82.35294% {
      clip: rect(31px, 2000px, 82px, 0);
    }
    88.23529% {
      clip: rect(12px, 2000px, 41px, 0);
    }
    94.11765% {
      clip: rect(54px, 2000px, 64px, 0);
    }
    100% {
      clip: rect(36px, 2000px, 75px, 0);
    }
  }

  .glitch:before, .glitch:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    clip: rect(0, 0, 0, 0);
  }
  .glitch:after {
    left: 2px;
    text-shadow: -1px 0 red;
    animation: glitch-anim-1 2s infinite linear alternate-reverse;
  }
  .glitch:before {
    left: -2px;
    text-shadow: 2px 0 blue;
    animation: glitch-anim-2 3s infinite linear alternate-reverse;
  }

  .refresh_btn {
    color: #8be0de;
    font-size: 5vh;
    font-weight: bold;
    margin-top: 10%;
    margin-bottom: 10%;
  }
}
