@import "bootstrap-sprockets";
@import "bootstrap";

:root {
  --main-background-color: #8be0de;
  --main-background-text-color: white;
  --main-border-color: #8be0de;
  --main-text-color: black;
  --unchoosable-color: #f4f4f4;
  --choices-background-color: white;
  --highlight-color: #8be0de;
  --choosable-hover-color: white;
  --modal-backdrop-color: #6a8389;
  --box-shadow-color: #e8f8ff;
  --word-choice-color: #337ab7;
  --word-choice-hover-color: black;
  --definition-color: #aaa;
  --complete-highlight-color: rgb(50, 163, 202);

  // --main-background-color: black;
  // --main-background-text-color: orange;
  // --main-border-color: orange;
  // --main-text-color: white;
  // --unchoosable-color: #f4f4f4;
  // --choices-background-color: white;
  // --highlight-color: black;
  // --choosable-hover-color: white;
  // --modal-backdrop-color: #5c5c5c;
  // --box-shadow-color: rgb(255, 235, 200);
  // --word-choice-color: orange;
  // --word-choice-hover-color: rgb(177, 136, 90);
  // --definition-color: #aaa;
  // --complete-highlight-color: rgb(165, 78, 7);
}

.start_word, .target_word {
  position: fixed;
  z-index: 999;
  font-size: 6vh;
  line-height: 10vh;
  height: 10vh;
  z-index: 999;
  width: 100%;
  background-color: var(--main-background-color);
  color: var(--main-background-text-color);
  letter-spacing: 10px;
  left: 0;
}

.start_word {
  top: 0;
}

.target_word {
  bottom: 0;
}

#start, #target {
  padding-left: 20px;
}

.curr_word_container {
  opacity: 0;
}

.curr_word {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  .btn {
    width: 7vh;
    line-height: 7vh;
    margin: 0px 1px;
    padding: 0;
    font-weight: bold;
    font-size: 5vh;
  }
  .choosable {
    border: 1px solid var(--main-border-color);
  }
  .choosable:hover {
    background-color: var(--main-border-color);
    color: var(--choosable-hover-color);
  }
  .unchoosable {
    border: 1px solid var(--unchoosable-color);
    cursor: default !important;
  }
  .complete {
    color: var(--main-background-color);
    font-size: 9vh;
    width: 9vh;
    line-height: 9vh;
  }
}

.curr_word_letter_container {
  position: relative;
  height: 7vh;
  width: 7vh;
  display: inline-block;
}

.reorder_btn {
  position: absolute;
  top: 0;
  left: 10vh;
  color: var(--main-border-color);
  font-size: 5vh;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-backdrop {
  background-color: var(--modal-backdrop-color);
  opacity: 0.8 !important;
}

.choices {
  @media (min-width: 768px) {
    .modal-dialog{
      position: relative;
      display: table; /* This is important */ 
      overflow-y: auto;    
      overflow-x: auto;
      width: auto;
      min-width: 10px;   
    }
  }
  .modal-content, .modal-body {
    background-color: transparent;
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,0);
    box-shadow: 0 0px 0px rgba(0,0,0,0);
    border-width: 0px;
    padding: 0;
  }
  .next_word {
    height: 9vh;
    line-height: 9vh;
    margin: 0px 5px;
    padding: 0;
    font-weight: bold;
    font-size: 5vh;
    border: 1px solid var(--main-border-color);
    margin: 10px auto;
    padding: 0px 10px 0px 20px;
    opacity: 1;
    background-color: var(--choices-background-color);
  }
  .next_word_container {
    background-color: none;
    .next_word_letter {
      margin: 0;
      padding: 3px;
      display: inline-block;
    }
    .next_word_letter:last-child {
      padding-right: 13px;
    }
    .highlight {
      color: var(--highlight-color);
    }
    a:link, a:visited {
      color: var(--word-choice-color);
    }
    .next_word:hover {
      color: var(--word-choice-hover-color);
    }
  }	
}

.history {
  position: fixed;
  top: 23%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  span {
    display: block;
    margin: 5px auto;
    letter-spacing: 10px;
    padding-left: 10px;
  }
  .glyphicon-option-vertical {
    color: #eee;
    padding-left: 20px;
    font-size: 3vh
  }
  .last_0 {
    display: none;
  }
  .last_1 {
    font-size: 4.2vh;
    color: #ccc;
  }
  .last_2 {
    font-size: 3.8vh;
    color: #ddd;
  }
  .last_3 {
    font-size: 3.6vh;
    color: #ececec;
  }
  .last_4 {
    font-size: 3.4vh;
    color: #ededed;
  } 
  .last_5 {
    font-size: 3.4vh;
    color: #eee;
  }
  .last_6 {
    font-size: 3.4vh;
    color: #efefef;
  }
}

.reset, .limit_count {
  position: fixed;
  top: 11vh;
}

.reset {
  right: 5px;
  font-size: 4vh;
  color: #ccc;
  a, a:hover, a:active, a:link, a:visited {
    color: #ccc;
  }
}

.limit_count {
  left: 10px;
  color: var(--main-background-color);
  opacity: 0.8;
  .limit_dot {
    width: 4vh;
    height: 5vh;
    text-align: center;
    font-size: 4vh;
    display: block;
  }
  .glyphicon-heart-empty {
    margin-left: -2px;
  }
}

.below_curr_word {
  position: fixed; 
  width: 100%;
}

.definition {
  width: 100%;
  .definition_content {
    padding: 40px;
    max-width: 500px;
    color: var(--definition-color);
    text-align: center;
    font-size: 2.5vh;
    white-space: pre-wrap;
    margin: 0 auto;
  }
}

.no_moves_left {
  width: 100%;
  text-align: center;
  color: var(--main-background-color);
  font-weight: bold;
  font-size: 2.5vh;
}

.message_container {
  display: none;
  min-height: 100vh;
  width: 100%;
  text-align: center;
  background-color: var(--main-background-color);
  color: var(--main-background-text-color);
  font-size: 2.5vh;
  padding-top: 3vh;
  #well_done {
    font-weight: bold;
    margin: 10px auto;
    margin-top: 5vh;
    font-size: 3vh;
    span {
      margin: 0 5px;
    } 
  }
  #path_length {
    margin: 0 10px;
    font-weight: bold;
    display: none;
  }
  #completed_in {
    font-size: 2.8vh;
    margin-bottom: 3vh;
    display: none;
  }
}

.path_word_container {
  display: none;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  .path_word {
    font-weight: bold;
    font-size: 5vh;
    margin-bottom: 0px;
  }
  .path_word:hover + .path_word_definition {
    display: block;
  }
  .path_word_definition {
    color: var(--main-background-text-color);
    text-align: center;
    font-size: 2.5vh;
    //white-space: pre-wrap;
    max-width: 500px;
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 1;
  }
}

.btn_custom {
  background-color: var(--main-background-text-color);
  color: var(--main-background-color);
  font-size: 3vh;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 10px 20px;
  box-shadow: 0px 0px 30px var(--box-shadow-color);
}

.next_level_btn_container {
  display: none;
  margin: 0 auto;
  margin-top: 50px;
  .play_again_link {
    display: block;
    text-decoration: none;
    color: white;
  }
}

.undo_link, .undo_link:active, .undo_link:hover, .undo_link:link, .undo_link:visited {
  text-decoration: none;
}
.achievement {
  display: none;
  text-shadow: 0px 0px 5px var(--box-shadow-color);
  font-weight: bold;
  margin-top: 30px;
  #achievement_header {
    font-size: 3.5vh;
  }
}

iframe {
  display: none;
}

#instructions {
  color: #aaa;
  font-size: 2vh;
  text-align: center;
  span {
    font-size: 2.5vh;
    color: var(--main-background-color);
  }
}

.instruction_btn {
  font-weight: bold;
  margin-left: 5px;
}